<launch>
  <node pkg="rosserial_server" type="udp_socket_node" name="lspcu_server">
    <param name="client_port" value="11411" />
    <param name="client_addr" value="10.253.253.2" />
  </node>
  <node pkg="rosserial_server" type="udp_socket_node" name="tdcu_server">
    <param name="client_port" value="11412" />
    <param name="server_port" value="11412" />
    <param name="client_addr" value="10.253.253.3" />
  </node>
  <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />

  <node name="firmware_logger_node" pkg="boxer_base" type="net_logger" output="screen">
    <rosparam>
      loggers:
        lspcu:
          target_ip: "10.253.253.2"
          sentry_client_dsn: "https://f35a3f81603243a383f985f7f74d946e:501f1eca5afb4ea0905fb27e9f6afa7a@sentry.clearpathrobotics.com/145"
        tdcu:
          target_ip: "10.253.253.3"
          sentry_client_dsn: "https://eb4323449742430abbbcf143b11275b2:d3c956db677e4cc8b2ea861aa3c37a2d@sentry.clearpathrobotics.com/146"
      logger_port: 11413
      cmd_port: 11414
      sentry_client_dsn_qa: "https://3df29f0b99a94f7291a614bb470d14ff:f6248f698c9545ea9081ef49bc44a20b@sentry.clearpathrobotics.com/118"
      enable_debug_publishing: false
      enable_debug_file_logging: true
      enable_debug_console_logging: false
    </rosparam>
  </node>

</launch>
