<?xml version="1.0"?>

<launch>
  <arg name="theme_path" />

  <node pkg="visual_indication" type="visual_indication_node" name="visual_indication" respawn="true" respawn_delay="30">
    <param name="image_path" value="$(arg theme_path)/theme" />
    <param name="pattern_association_path" value="$(arg theme_path)/config/pattern_associations.yaml" />
    <rosparam command="load" file="$(arg theme_path)/config/led_array_description.yaml"/>
    <rosparam>
      <!--
        The order in which robot states will affect visual indication
        (descending order of priority; highest priority first).
        These must be bit constant names from cpr_common_msgs/RobotState.
      -->
      state_priority_list:
        - STATE_E_STOP
        - STATE_SAFE_TO_LOAD
        - STATE_SAFETY_STOP
        - STATE_BLOCKED
        - STATE_APPLIANCE_ACTIVE
        - STATE_CHARGING
        - STATE_LOST
        - STATE_NIMBUS_LOST
        - STATE_MANUAL
        - STATE_ABOUT_TO_MOVE
        - STATE_PARKED
        - STATE_DOCKING
        - STATE_NARROW_HALLWAY
    </rosparam>
  </node>

  <node pkg="visual_indication" type="state_updater_node" name="state_updater" respawn="true" respawn_delay="30" />
</launch>
