<?xml version="1.0"?>

<launch>
  <arg name="theme_path" default="$(find boxer_visual)"/>
  <remap from="/odom" to="/platform_control/odom" />

  <include file="$(find visual_indication)/launch/visual_indication.launch" pass_all_args="true">
  </include>

  <node pkg="visual_indication" name="visualize" type="visualize.py" output="screen">
    <param name="svg" value="$(arg theme_path)/models/led_array.svg" />
    <param name="frame" value="base_link"/>
  </node>

  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find visual_indication)/config/visualize_led.rviz"></node>

</launch>
