<launch>
  <rosparam command="load" file="$(find boxer_control)/config/control.yaml" />

  <group if="$(optenv BOXER_CONTROL_EXTRAS 0)" >
    <rosparam command="load" file="$(env BOXER_CONTROL_EXTRAS_PATH)" />
  </group>

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="boxer_joint_publisher boxer_velocity_controller boxer_lift_controller" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
    <rosparam command="load" file="$(find boxer_control)/config/robot_localization.yaml" />
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find boxer_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="boxer_velocity_controller/cmd_vel"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_tf_static" value="true"/>
  </node>
</launch>
